.footer-container {
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: rgba(36, 38, 39, 0.95); /* Adjusted background color with correct syntax */
    height: 4rem;
}


.footer {
    font-size: 13px;
    color: white;
    margin: -8px 0 0 0;
}